$ms-time-table-bgColor: rgba(0, 0, 0, 0.5) !default;
$ms-time-table-header-bgColor: rgba(0, 0, 0, 0.1) !default;
$ms-time-table-group-borderColor: rgba(255, 255, 255, 0.3) !default;
$ms-time-table-fontColor: #faf9f8 !default;

$ms-calendar-day-height: 100px !default;

.ms-time-table {
  display: inline-block;
  background-color: $ms-time-table-bgColor;
  color: $ms-time-table-fontColor;

  backdrop-filter: blur(40px);

}

.ms-time-table-layout {
  display: table;
}

.ms-time-table-group {
  padding-top: 16px;
  padding-bottom: 16px;

  display: table-row;

  & .ms-time-table-group-cell {
    display: table-cell;
    padding: 12px;
    border-bottom: 1px solid $ms-time-table-group-borderColor;
  }

  &:last-child .ms-time-table-group-cell {
    border-bottom: none;
  }
}

.ms-time-table-item {
  margin-bottom: 16px;
}

.ms-time-table-date {
  width: auto;
}

.ms-time-table-date-day {
  text-transform: uppercase;
}

.ms-time-table-date-date {
  font-weight: 200;
}

.ms-time-table-items {

  & > * {
    margin-top: 12px;
  }
  & *:first-child {
    margin: 0;
  }
}

.ms-time-table-item {

}
