$ms-time-table-borderColor: #393939 !default;
$ms-time-table-color: #393939 !default;

.ms-time-table {
  display: block;
  border-collapse: collapse;
  width: 100%;
  color: $ms-time-table-color;
  position: relative;
  border: 1px solid red;
}

.ms-time-table-table {
  border-collapse: collapse;
  width: 100%;
}

.ms-time-table-body {

}

.ms-time-table-dayCell {
  padding-bottom: 14px;
  border-bottom: 1px solid $ms-time-table-borderColor;
  text-align: left;
}

.ms-time-table-row {
  border-bottom: 1px solid $ms-time-table-borderColor;
  border-collapse: collapse;
}

.ms-time-table-hourCell {
  border-bottom: 1px solid white;
  text-align: right;
  width: 1px;
}

.ms-time-table-hourCell-hour {
  display: inline-block;
  padding-right: 14px;
}

.ms-time-table-cell {
  border-bottom: 1px solid $ms-time-table-borderColor;;
  border-collapse: collapse;
}

.ms-time-table-item {
  position: absolute;
  overflow: hidden;
}
